DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=

ELASTICSEARCH_URIS:

JWT_SECRET=

NCP_ACCESS_KEY=
NCP_SECRET_KEY=
NCP_ENDPOINT=
NCP_BUCKET=
NCP_REGION=

GEOCODING_API_KEY=

CLOVA_STUDIO_API_KEY=
CLOVA_STUDIO_API_URL=