==== Response Fields
|===
|Path|Type|Description

{{#fields}}
|{{#tableCellContent}}{{path}}{{Optional}}{/tableCellContent}}
|{{#tableCellContent}}{{type}}{{Optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{Optional}}{{/tableCellContent}}

{{/fields}}
|===
